header {
  margin: 0 auto;
  overflow: hidden;
  padding: 1em 2em;
  position: fixed;
  width: 94%;
}
header > h1 {
  color: #369;
  float: left;
  font-size: 2.125em;
  font-weight: bold;
  text-shadow: 0 0 10px #fff;
}
.mild-header {
  color: #84add6;
}
nav {
  float: right;
  list-style-type: none;
  padding-top: 0.25em;
}
nav > ul > li {
  display: inline-block;
  padding: 0 0 0 2em;
}
nav > ul > li > a {
  color: #84add6;
  font-size: 1.85em;
  text-decoration: none;
  text-shadow: 0 0 10px #fff;
  text-transform: lowercase;
}
nav > ul > li > a:hover {
  color: #369;
}
.nav-icon {
  font-size: 0.8em;
}
