path {
  transition: fill 1s ease;
}

.wsdm-tooltip {
  background: #fff;
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
  color: #333;
  display: none;
  font-size: 1.5em;
  margin-top: -10px;
  padding: 1rem;
  pointer-events: none;
  text-align: left;
  z-index: 1000;
}

.wsdm-tooltip:after {
  border-left: 0.5rem solid transparent;
  border-radius: 20px;
  border-right: 0.5rem solid transparent;
  border-top: 0.5rem solid #fff;
  content: "";
  height: 0;
  left: 50%;
  margin-left: -0.5rem;
  position: absolute;
  top: 100%;
  width: 0;
}

.wsdm-tooltip > strong {
  display: inline-block;
  font-weight: bold;
  margin-bottom: 0.25em;
}

.wsdm-tooltip > small {
  font-size: 0.85em;
}

.wsdm-tooltip > small > strong {
  font-weight: bold;
}
