.projection-switcher {
  background: white;
  bottom: 1em;
  padding: 0.25em 0.5em;
  position: fixed;
  right: 1em;
}

.projection-switcher select {
  background: #fff;
  border: 1px dotted #999;
  cursor: pointer;
  font-size: 1.25em;
}

.projection-switcher span {
  font-size: 1.25em;
  font-weight: bold;
  margin-right: 0.5em;
}

.projection-switcher span svg {
  color: #999;
  margin-right: 0.25em;
}
