.timeline {
  background: #fff;
  border: 1px dotted #eee;
  border-radius: 10px;
  box-shadow: 0 0 72px -41px rgba(51, 51, 51, 1);
  cursor: pointer;
  margin: 0 auto;
  opacity: 0.9;
  padding: 1em 2em 1em 1em;
  width: 700px;
}
.timeline-slider-wrapper {
  display: grid;
  grid-template-columns: 4em auto;
}
.timeline-play {
  color: #ccc;
  font-size: 2em;
}
.timeline-play:hover {
  color: #369;
}

.timeline-is-draggable {
  background: #fff;
  border: 1px dotted #ccc;
  border-radius: 10px;
  color: #999;
  padding: .125em;
  position: absolute;
  right: -5px;
  top: -8px;
}

.rc-slider-mark-text {
  font-size: 1.25em;
  font-weight: bold;
}

.rc-slider-mark-text strong {
  color: #000;
}
.rc-slider-handle {
  background: #369;
}
